@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Jersey+25&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: "Lato", sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    width: 100%;
    height: 100%;
    background-color: #1d1d1d;
    color: white;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.logo{
    font-size: 3rem;
    color: #D9D3C7;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover{
    color: #688358;
    transition: 0.5s ease;
    transform: scale(1.1);
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: transparent;
    height: 50px;
}

.nav-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
nav a {
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    justify-content: center;
    font-family: "Inconsolata", monospace;
    font-weight: 100;
    letter-spacing: 2px;
    transition: 0.3s ease;
    position: relative;
    display: inline-block;
    min-width: 120px;
    max-width: 120px;
    text-align: center;
}

nav a span {
    display: inline-block;
    position: relative;
}


nav a:hover,
nav a.active{
    color: #888C79;
}

.home-img{
    margin-left: 7000px;
}

.glow-text{
    color: #fff;
    text-shadow: 0 0 10px #fff,
                 0 0 20px #768064,
                 0 0 30px #768064,
                 0 0 40px #768064;
  }

  section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;

  }

  canvas{
    position: fixed;
    top: 0;
    left: 0;
}

section {
    background: transparent;
    z-index: 0;
    align-items: center;
    justify-content: center;
    display: block;
}

#three-container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

#three-container canvas {
    display: block;
    width: 100%;
    height: 100%;
}