@import "tailwindcss";

@font-face {
    font-family: KiwiSoda;
    src: url(../fonts/KiwiSoda.ttf) format('truetype');
}

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #ccb89d;
  align-items: center;
}

.app {
  width: 100vw;
  height: 100vh;
  position: relative;
}

/* Background — full screen and behind everything */
.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

/* Foreground content */
.content {
  position: relative;
  z-index: 10;
  color: white;
  padding-top: 100px;
  height: 100%;
  width: 100%;
}

header {
  display: flex;
  top: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}


/* Nav cleanup */
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 0;
}
