/* Global stuff */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;600;700&family=Inter:ital,opsz@0,14..32;1,14..32&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wdth,wght@0,77.7,100;1,77.7,100&display=swap');


:root {
  --bg: #f7f5f2;
  --paper: #fdfcf9;
  --ink: #1a1a1a;

  --moss: #527e59;
  --pine: #34583a;
  --accent-soft: #656e67;

  --font-size-sm: clamp(0.8rem, 2vw, 1rem);
  --font-size-base: clamp(1rem, 2.5vw, 1.2rem);
  --font-size-lg: clamp(1.5rem, 4vw, 2rem);
  --font-size-xl: clamp(2rem, 6vw, 3.5rem);
  --font-size-xxl: clamp(3rem, 8vw, 6rem);
  
  --spacing-xs: 0.5rem;
  --spacing-sm: 1rem;
  --spacing-md: 1.5rem;
  --spacing-lg: 2rem;
  --spacing-xl: 3rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

canvas {
  display: block;
}

.header {
  width: 100%;
  height: 100%;
  flex-direction: column;
  text-align: center;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  display: flex;
}

.header div {
  font-size: clamp(4rem, 15vw, 6rem);
  letter-spacing: 2px;
  line-height: 0.8;
  margin-top: 10%;
  color: #527e59;
  font-family: 'KiwiSoda', sans-serif;
  user-select: none;
}

.header p {
  font-size: 1.2rem;
  font-weight: 100;
  color: #527e59;
  font-family: 'VCR';
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.01em;
}

nav {
  display: flex;
  justify-content: left;
  padding: 1.2rem;
  position: fixed;
  top: 0;
  width: 100%;
  backdrop-filter: blur(10px);
  z-index: 1000;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 100;
  font-style: normal;
  margin: 0px;
  flex-wrap: wrap;
}

.nav-item-container {
  display: flex;
  flex-direction: row;
  gap: 9px;
  align-items: center;
  justify-content: center;
}

.nav-item {
  display: inline-flex;
  font-weight: 500;
  text-decoration: inherit;
  width: min-content;
  text-align: center;
  margin: 0px;
  align-items: center;
  justify-content: center;
  transition: color 0.5s ease;
}

.nav-item:hover {
  color: #f0f5f2;
  transition: color 0.5s ease;
}

.nav-item::before,
.nav-item::after {
  content: "";
  display: inline-block;
  width: 2ch;
  text-align: center;
  transition: opacity 0.3s ease;
  opacity: 0;
}

.nav-item::before {
  content: ">>";
}

.nav-item::after {
  content: "<<";
}

.nav-item::before,
.nav-item::after {
  display: inline-block;
  width: 2ch;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.nav-item:hover::before,
.nav-item:hover::after {
  opacity: 1;
}

/* Contacts */
.contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  width: 100%;
  font-size: 1rem;
  padding-bottom: 10%;
  font-family: 'KiwiSoda', sans-serif;
}

.contact-links {
  display: flex;
  width: 100%;
  gap: 1.5rem;
  font-size: 1.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-links a {
  position: relative;
  color: #5f6760;
  text-decoration: none;
  transition: color 0.3s ease;
  line-height: 1rem;
  width: 10rem;
}

/* default brackets */
.contact-links a::before {
  content: "[   ";
  margin-right: 0.1ch;
  transition: content 0.3s ease;
}

.contact-links a::after {
  content: "   ]";
  margin-left: 0.1ch;
  transition: content 0.3s ease;
 
}

/* hover brackets change */
.contact-links a:hover::before {
  content: '["';
  
}

.contact-links a:hover::after {
  content: '"]';
}

/* optional: color change on hover */
.contact-links a:hover {
  color: var(--pine);
}

/* ABOUT */
.about {
  display: flex;
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-family: 'VCR';
}
 
.interests-mobile { /* default desktop behaviour */
  display: none;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  height: 60vh;
  border: 1px #c9c9c9 solid;
  overflow: hidden;
  backdrop-filter: blur(2px);
}

.about-title {
  font-size: clamp(4.5rem, 0.5vw, 1.05rem);
  font-family: 'KiwiSoda', sans-serif;
  line-height: 1;
  color: var(--pine);
  width: 100%;
  height: 18%;
  display: flex;
  text-align: start;
  margin-top: 3%;
  margin-left: 4.5%;
  position: fixed;
}

.about-text {
  font-size: clamp(0.99rem, 0.5vw, 1.05rem);
  display: flex;
  color: #34583a;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin-top: 10%;
  justify-content: start;
}


@media (max-width: 767px) {
  .about-info {
    flex-direction: column;
  }
  
  /* Reorder items so image comes first */
  .about-image-container {
    order: -1; /* Moves image to top */
    margin-bottom: 3rem;
  }
  
  .about-text {
    order: 1; /* Moves text below */
    margin-bottom: 5rem;
      font-size: clamp(0.7rem, 0.5vw, 1.05rem);
  }

  .about-container {
    height: 70vh;
  }

  .interests-desktop {
    display: none;
  }

  .interests-mobile {
    display: block;
  }
}

.about-info {
  height: 100%;
  width: 100%;
  display: flex;
}

.about-img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center top; /* crops bottom */
  padding: 10%;
}

.about-image-container {
  width: 25vw;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-barcode-img {
  height: 30vh;
  position: fixed;
  z-index: -10;
  display: flex;
  bottom: -10vh;
  left: 100px;
  color: red;
}


.about-text-highlight {
  color: var(--accent-soft);
}

.dither-container {
  width: 100%;
  height: 100%;
  position: relative;
}

html, body, #root, canvas {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
}

body {
  margin: 0;
  display: block;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Space Grotesk', sans-serif;
  background-color: #323232; 
  color: #e0e0e0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.page-container {
  width: 100%;
  height: 100%;
  flex-direction: column;
  text-align: center;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  display: flex;
}